*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.principal{
    display: flex;
    flex-direction: column;
}

label{
    margin: 5px;
}
input{
    margin: 10px;
}
.qr{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
.qrcode{
    margin: 10px;
    margin-bottom: 20px;
}
.disabled {
    pointer-events: none;
    cursor: default;
}
.button:active{
    outline: none;
}